---
title: Acknowledgements
description: This is a list of websites and projects that helped us build and promote Notion Backups, to whom we are grateful.
---

<article class="px-4 mt-24 mb-12 sm:px-6 lg:px-8">
<div class="max-w-prose mx-auto">

  <h1 class="mt-2 text-center">
    Acknowledgements
  </h1>

  <p class="mt-8">We are grateful to the following websites and projects for helping us build and promote Notion Backups:</p>

  <ul class="mt-8 text-xl text-gray-700 leading-8 list-outside m-4">
    <li class="mt-4"><a href="https://www.notion.so" target="_blank" rel="noopener noreferrer" referrerpolicy="strict-origin-when-cross-origin" class="underline">Notion</a></li>
    <li class="mt-4"><a href="https://www.emailvendorselection.com" target="_blank" rel="noopener noreferrer" referrerpolicy="strict-origin-when-cross-origin" class="underline">Email Vendor Selection</a></li>
    <li class="mt-4"><a href="https://twelve.tools" target="_blank" rel="noopener noreferrer" referrerpolicy="strict-origin-when-cross-origin" class="underline">Twelve Tools</a></li>
  </div>
</article>
