---
title: Automatically Back Up your Notion Data
description: Easily back up your Notion workspaces to a storage provider of your choice.
h1: Back up your Notion workspaces to a storage provider of your choice
---

<div class="text-center mt-8 p-16 mx-auto max-w-7xl px-4 bg-white">
  <h1 class="text-4xl tracking-tight font-extrabold text-gray-900 sm:text-5xl md:text-6xl">
    <span class="inline-block">Back up your Notion workspaces</span>
    <span class="inline-block text-gray-600">to a storage provider of your choice</span>
  </h1>
  <p class="mt-3 max-w-md mx-auto text-base text-gray-500 sm:text-lg md:mt-5 md:text-xl md:max-w-3xl">
     Get peace of mind knowing that your data is safe.
  </p>
  <div class="mt-5 max-w-md mx-auto sm:flex sm:justify-center md:mt-8">
    <div class="rounded-md shadow">
      <a href="https://app.notionbackups.com/signup/new" class="w-full flex items-center justify-center px-8 py-3 border border-transparent text-base font-medium rounded-md text-white bg-gray-800 hover:text-white hover:bg-gray-900 md:py-4 md:text-lg md:px-10">
        Back up your workspace
      </a>
    </div>
  </div>
</div>


<!-- This example requires Tailwind CSS v2.0+ -->
<div class="py-12 bg-gray-100">
  <div class="max-w-xl mx-auto px-4 sm:px-6 lg:max-w-7xl lg:px-8">
    <h2 class="sr-only" id="features">Features</h2>
    <dl class="space-y-10 lg:space-y-0 lg:grid lg:grid-cols-3 lg:gap-8">
      <div>
        <dt>
          <div class="flex items-center justify-center h-12 w-12 rounded-md bg-gray-900 text-white">
            <!-- Heroicon name: outline/globe-alt -->
            <svg class="h-6 w-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" aria-hidden="true">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M21 12a9 9 0 01-9 9m9-9a9 9 0 00-9-9m9 9H3m9 9a9 9 0 01-9-9m9 9c1.657 0 3-4.03 3-9s-1.343-9-3-9m0 18c-1.657 0-3-4.03-3-9s1.343-9 3-9m-9 9a9 9 0 019-9" />
            </svg>
          </div>
          <p class="mt-5 text-lg leading-6 font-medium text-gray-900">Automated</p>
        </dt>
        <dd class="mt-2 text-base text-gray-500">
          No more manual exporting of your workspace or hacky scripts relying on private APIs. We will back up your valuable data on a consistent schedule.
        </dd>
      </div>

      <div>
        <dt>
          <div class="flex items-center justify-center h-12 w-12 rounded-md bg-gray-900 text-white">
            <!-- Heroicon name: outline/scale -->
            <svg class="h-6 w-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" aria-hidden="true">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M3 6l3 1m0 0l-3 9a5.002 5.002 0 006.001 0M6 7l3 9M6 7l6-2m6 2l3-1m-3 1l-3 9a5.002 5.002 0 006.001 0M18 7l3 9m-3-9l-6-2m0-2v2m0 16V5m0 16H9m3 0h3" />
            </svg>
          </div>
          <p class="mt-5 text-lg leading-6 font-medium text-gray-900">Seamless setup</p>
        </dt>
        <dd class="mt-2 text-base text-gray-500">
           Authenticate to your Notion account and a storage provider of your choice, select workspaces you want to back up, and you're ready to go.
        </dd>
      </div>

      <div>
        <dt>
          <div class="flex items-center justify-center h-12 w-12 rounded-md bg-gray-900 text-white">
            <!-- Heroicon name: outline/lightning-bolt -->
            <svg class="h-6 w-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" aria-hidden="true">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M13 10V3L4 14h7v7l9-11h-7z" />
            </svg>
          </div>
          <p class="mt-5 text-lg leading-6 font-medium text-gray-900">Your storage</p>
        </dt>
        <dd class="mt-2 text-base text-gray-500">
           Store your Notion data in one or more popular storage providers of your choice. That way, you retain full control over your data.
        </dd>
      </div>



      <div>
        <dt>
          <div class="flex items-center justify-center h-12 w-12 rounded-md bg-gray-900 text-white">
            <!-- Heroicon name: outline/globe-alt -->
            <svg class="h-6 w-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" aria-hidden="true">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M21 12a9 9 0 01-9 9m9-9a9 9 0 00-9-9m9 9H3m9 9a9 9 0 01-9-9m9 9c1.657 0 3-4.03 3-9s-1.343-9-3-9m0 18c-1.657 0-3-4.03-3-9s1.343-9 3-9m-9 9a9 9 0 019-9" />
            </svg>
          </div>
          <p class="mt-5 text-lg leading-6 font-medium text-gray-900">Point-in-time recovery <span class="inline-flex px-4 py-1 ml-2 rounded-full text-sm font-semibold  uppercase bg-white text-black-600">coming soon</span></p>
        </dt>
        <dd class="mt-2 text-base text-gray-500">
           Restore your Notion data to a specific point-in-time with a single click. No more trawling through multiple files to track a small change.
        </dd>
      </div>

      <div>
        <dt>
          <div class="flex items-center justify-center h-12 w-12 rounded-md bg-gray-900 text-white">
            <!-- Heroicon name: outline/scale -->
            <svg class="h-6 w-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" aria-hidden="true">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M3 6l3 1m0 0l-3 9a5.002 5.002 0 006.001 0M6 7l3 9M6 7l6-2m6 2l3-1m-3 1l-3 9a5.002 5.002 0 006.001 0M18 7l3 9m-3-9l-6-2m0-2v2m0 16V5m0 16H9m3 0h3" />
            </svg>
          </div>
          <p class="mt-5 text-lg leading-6 font-medium text-gray-900">Friendly support</p>
        </dt>
        <dd class="mt-2 text-base text-gray-500">
           When things go haywire, you can always reach out and talk to a founder about your problems. Rest assured that your feedback won't end up in /dev/null
        </dd>
      </div>

      <div>
        <dt>
          <div class="flex items-center justify-center h-12 w-12 rounded-md bg-gray-900 text-white">
            <!-- Heroicon name: outline/lightning-bolt -->
            <svg class="h-6 w-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" aria-hidden="true">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M13 10V3L4 14h7v7l9-11h-7z" />
            </svg>
          </div>
          <p class="mt-5 text-lg leading-6 font-medium text-gray-900">Secure and private</p>
        </dt>
        <dd class="mt-2 text-base text-gray-500">
           Your Notion data is never stored on our servers. We transfer data directly from your Notion account to a storage provider of your choice.
        </dd>
      </div>


    </dl>
  </div>
</div>

<!-- This example requires Tailwind CSS v2.0+ -->
<div class="bg-gray-900">
  <div class="pt-16">
    <div class="max-w-7xl mx-auto text-center px-4 sm:px-6 lg:px-8">
      <div class="max-w-3xl mx-auto space-y-2 lg:max-w-none">
        <h2 class="font-extrabold text-white sm:text-4xl lg:text-5xl" id="pricing">
          Simple, no-nonsense pricing
        </h2>
      </div>
    </div>
  </div>
  <div class="mt-8 pb-12 bg-gray-50 sm:mt-12 sm:pb-16 lg:mt-16 lg:pb-24">
    <div class="relative">
      <div class="absolute inset-0 h-3/4 bg-gray-900"></div>
      <div class="relative max-w-2xl mx-auto px-4 sm:px-6 lg:px-8">
        <div class="max-w-md mx-auto space-y-4 lg:max-w-3xl lg:space-y-0">
          <div class="flex flex-col rounded-lg shadow-lg overflow-hidden">
            <div class="px-6 py-8 bg-white sm:p-10 sm:pb-6">
              <div>
                <h3 class="inline-flex px-4 py-1 rounded-full text-sm font-semibold tracking-wide uppercase bg-gray-900 text-white" id="tier-starter">
                  Starter
                </h3>
              </div>
              <div class="mt-4 flex items-baseline text-6xl font-extrabold">
                $12
                <span class="ml-1 text-2xl font-medium text-gray-500">
                  /mo
                </span>
              </div>
              <p class="mt-5 text-lg text-gray-500">
                Perfect for indie creators and small businesses
              </p>
            </div>
            <div class="flex-1 flex flex-col justify-between px-6 pt-6 pb-8 bg-gray-100 space-y-6 sm:p-10 sm:pt-6">
              <ul role="list" class="space-y-4">
                <li class="flex items-start">
                  <div class="flex-shrink-0">
                    <!-- Heroicon name: outline/check -->
                    <svg class="h-6 w-6 text-gray-900" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" aria-hidden="true">
                      <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 13l4 4L19 7" />
                    </svg>
                  </div>
                  <p class="ml-3 text-base text-gray-700">
                    Daily, Weekly, and Monthly backups
                  </p>
                </li>

                <li class="flex items-start">
                  <div class="flex-shrink-0">
                    <!-- Heroicon name: outline/check -->
                    <svg class="h-6 w-6 text-gray-900" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" aria-hidden="true">
                      <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 13l4 4L19 7" />
                    </svg>
                  </div>
                  <p class="ml-3 text-base text-gray-700">
                    Unlimited Notion workspaces
                  </p>
                </li>

                <li class="flex items-start">
                  <div class="flex-shrink-0">
                    <!-- Heroicon name: outline/check -->
                    <svg class="h-6 w-6 text-gray-900" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" aria-hidden="true">
                      <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 13l4 4L19 7" />
                    </svg>
                  </div>
                  <p class="ml-3 text-base text-gray-700">
                    Store backups on Dropbox, Digital Ocean Spaces, and Amazon S3
                  </p>
                </li>

                <li class="flex items-start">
                  <div class="flex-shrink-0">
                    <!-- Heroicon name: outline/check -->
                    <svg class="h-6 w-6 text-gray-900" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" aria-hidden="true">
                      <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 13l4 4L19 7" />
                    </svg>
                  </div>
                  <p class="ml-3 text-base text-gray-700">
                    Friendly email support
                  </p>
                </li>

                <li class="flex items-start">
                  <div class="flex-shrink-0">
                    <!-- Heroicon name: outline/check -->
                    <svg class="h-6 w-6 text-gray-900" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" aria-hidden="true">
                      <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 13l4 4L19 7" />
                    </svg>
                  </div>
                  <p class="ml-3 text-base text-gray-700">
                    Restore your backups <span class="inline-flex px-4 py-1 ml-1 rounded-full text-sm font-semibold  uppercase bg-white text-black-600">coming soon</span>
                  </p>
                </li>
              </ul>
              <div class="rounded-md shadow">
                <a href="https://app.notionbackups.com/signup/new" class="flex items-center justify-center px-5 py-3 border border-transparent text-base font-medium rounded-md text-white bg-gray-800 hover:text-white hover:bg-gray-900" aria-describedby="tier-starter">
                  Get started
                </a>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>

  </div>
</div>
