---
title: Recovering Lost Notion Data
description: Learn how you can recover lost Notion workspaces, databases, pages or restore previous changes.
---

<% content_for :head do %>
  <script type="application/ld+json">
  {
    "@context": "https://schema.org/",
    "@id": "https://notionbackups.com/recover-lost-notion-data",
    "@type": "TechArticle",
    "headline": "Recovering Lost Notion Data",
    "datePublished": "2023-06-18",
    "image": "https://notionbackups.com/assets/images/banner.png",
    "description": "Learn how you can recover lost Notion workspaces, databases, pages or restore previous changes.",
    "inLanguage": "en-US",
    "copyrightHolder": {
      "@type": "Organization",
      "name": "Notion Backups"
    },
    "publisher": {
      "@type": "Organization",
      "name": "Notion Backups"
    },
    "author": {
      "@type": "Organization",
      "name": "Notion Backups"
    }
  }
  </script>

<% end %>

<article class="px-4 mt-24 mb-12 sm:px-6 lg:px-8">
<div class="max-w-prose mx-auto">

<h1 class="mt-2 text-center">
  Recovering Your Lost Notion Data
</h1>

<p class="mt-8">Data loss is terrible, especially when it involves valuable information you've meticulously organized on Notion. It could be a single page, a database, or your entire workspace that has gone missing. This guide will provide you with a variety of solutions to recover your lost data.</p>

<h2 class="my-8">Finding deleted pages</h2>

<p class="mt-8">The first step when you notice that a page is missing is to check the Trash. Notion automatically moves deleted pages to the Trash, acting as an archive that you can recover from.</p>

<p class="mt-8">You can find the <a href="https://www.notion.so/help/duplicate-delete-and-restore-content#find-pages-in-trash" class="underline" target="_blank" rel="noopener">Trash</a> in the left-hand sidebar of your workspace.</p>

<h2 class="my-8">Reverting back page changes</h2>

<p class="mt-8">Another feature Notion provides to help recover lost data is the Page History. This allows you to view and revert to previous versions of a page. It can be particularly helpful when you've accidentally deleted a part of a page or made changes that you want to undo.</p>

<p class="mt-8">To access the <a href="https://www.notion.so/help/duplicate-delete-and-restore-content#page-history" class="underline" target="_blank" rel="noopener">Page History</a>, open the page you want to restore, click on the Updates icon or "..." in the upper-right corner, and select Page History. A sidebar will appear, displaying the different versions of your page.</p>

<h2 class="my-8">Recovering permanently deleted items</h2>

<p class="mt-8">If you've deleted a page from the Trash, it's gone from your account.</p>

<p class="mt-8">However, you can still recover it by contacting Notion; your data could be restored for up to 30 days after deletion.</p>

<h2 class="my-8">Missing workspace</h2>

<p class="mt-8">If you can't access your workspace at all, or you've accidentally deleted it, reach out to Notion's support as soon as possible.</p>

<p class="mt-8">Sometimes, workspaces could go missing without any fault of your own.</p>

<h2 class="my-8">Making regular backups</h2>

<p class="mt-8">It's a good idea to regularly make backups of your workspace.</p>

<p class="mt-8">You can <a href="https://www.notion.so/help/export-your-content" class="underline" target="_blank" rel="noopener">export your content</a> in Markdown/CSV, HTML, and PDF formats from your workspace settings.</p>

<p class="mt-8">Another way of making regular backups is to use <a href="https://notionbackups.com" class="underline">Notion Backups</a>, so you won't have to manually export and manage your backups.</p>

<div class="mt-8 bg-gray-900 p-12 rounded-lg">
  <p class="mb-8 text-white text-center">Back up your Notion workspaces today</p>
  <a href="https://app.notionbackups.com/signup/new" class="button p-4 text-base hover:shadow-button duration-300 focus:ring-0">
    Get started
  </a>
</div>

</div>
</article>
