---
title: Back up your Notion workspaces to Amazon S3
description: Automatically back up your Notion workspace to Amazon S3 bucket and learn how to configure IAM policies for secure backup storage.
---

<% content_for :head do %>
  <script type="application/ld+json">
  {
    "@context": "https://schema.org/",
    "@type": "TechArticle",
    "headline": "<%= @item[:title] %>",
    "datePublished": "2022-11-02",
    "dateModified": "2024-09-03",
    "dependencies": "AWS",
    "description": "<%= @item[:description] %>",
    "inLanguage": "en-US",
    "image": {
      "@type": "ImageObject",
      "url": "https://notionbackups.com/assets/images/banner.png"
    },
    "copyrightHolder": {
      "@type": "Organization",
      "name": "Notion Backups"
    },
    "publisher": {
      "@type": "Organization",
      "name": "Notion Backups"
    }
  }
  </script>
<% end %>

<article class="px-4 mt-24 mb-12 sm:px-6 lg:px-8">
<div class="max-w-prose mx-auto">

  <h1 class="mt-2 text-center">
    Setting up Amazon S3
  </h1>

  <p class="mt-8">To back up your Notion workspace to Amazon S3, connect Notion and add your S3 bucket details: access key, secret access key, region, bucket name, and optionally, a prefix.</p>

  <h2 class="my-8">Access keys</h2>

  <p class="mt-8">Access key and secret access key are both encrypted at rest with a separate layer of encryption.</p>

  <p class="mt-8">Secret access key can't be changed after creation.</p>

  <h2 class="my-8">IAM policy</h2>

  <p class="mt-8">To allow Notion Backups to connect to your S3 bucket, attach the policy below to your <a href="https://console.aws.amazon.com/iamv2/home#/users" class="underline" target="_blank" rel="noopener">IAM user</a> (replace <em>yourbucket</em> with your bucket's name):</p>

  <pre><code>{
      "Version": "2012-10-17",
      "Statement": [{
          "Sid": "GrantLimitedAccessToThisS3Bucket",
          "Effect": "Allow",
          "Action": [
            "s3:GetObject",
            "s3:PutObject",
            "s3:DeleteObject"
          ],
          "Resource": [
              "arn:aws:s3:::<em class="font-bold">yourbucket</em>",
              "arn:aws:s3:::<em class="font-bold">yourbucket</em>/*"
          ]
      }]
}</code></pre>

  <p class="mt-8">It's better to create a new IAM user with just this policy attached to keep your AWS account secure.</p>

  <h2 class="my-8">Prefix</h2>

  <p class="mt-8">You can choose to organize your backups in a folder by specifying the prefix in the dashboard.</p>

  <p class="mt-8">If you want to limit your IAM user's access to a specific folder, include the prefix after the bucket name in your policy. For example, if you want to restrict access to the "notion_backups" folder within <em>yourbucket</em>, you can define your <code>Resource</code> in the following way:</p>

  <pre><code>"Resource": [
    "arn:aws:s3:::<em class="font-bold">yourbucket</em>",
    "arn:aws:s3:::<em class="font-bold">yourbucket</em>/notion_backups/*"
]
</code></pre>

  <h2 class="my-8">Terraform</h2>

  <p class="mt-8">If you're using <a href="https://www.terraform.io" target="_blank" rel="noopener" class="underline">Terraform</a> to control your AWS infrastructure, you can use the following script to create an IAM policy:</p>

  <pre><code>resource "aws_iam_policy" "notion_backups" {
    name = "notion_backups"
    description = "Create an IAM policy granting limited control to the S3 bucket."

    policy = jsonencode({
      Version = "2012-10-17"
      Statement = [{
        Sid = "GrantLimitedAccessToThisS3Bucket"
        Effect = "Allow"
        Action = [
          "s3:GetObject",
          "s3:PutObject",
          "s3:DeleteObject"
        ]
        Resource = [
          aws_s3_bucket.notion_backups.arn,
          "${aws_s3_bucket.notion_backups.arn}/*"
        ]
      }]
    })
}</code></pre>

  <h2 class="my-8">S3-compatible object storage</h2>

  <p class="mt-8">See <a href="/docs/backblaze-b2.html#s3-compatible" target="_blank" class="underline">BackblazeB2 docs</a> on how to connect to S3-compatible object storage providers.</p>

  <p class="mt-8">If you need help setting up your AWS account or with anything else, feel free to <a href="/support.html" class="underline">reach out</a>.</p>

</div>
</article>
