---
title: Back up your Notion workspaces to Backblaze B2 buckets
description: Learn how you can back up your Notion workspaces to Backblaze B2 buckets
---

<% content_for :head do %>
  <script type="application/ld+json">
  {
    "@context": "https://schema.org/",
    "@type": "TechArticle",
    "headline": "<%= @item[:title] %>",
    "datePublished": "2023-03-08",
    "dateModified": "2023-03-08",
    "dependencies": "Backblaze",
    "description": "<%= @item[:description] %>",
    "inLanguage": "en-US",
    "image": {
      "@type": "ImageObject",
      "url": "https://notionbackups.com/assets/images/banner.png"
    },
    "copyrightHolder": {
      "@type": "Organization",
      "name": "Notion Backups"
    },
    "publisher": {
      "@type": "Organization",
      "name": "Notion Backups"
    }
  }
  </script>
<% end %>

<article class="px-4 mt-24 mb-12 sm:px-6 lg:px-8">
  <div class="max-w-prose mx-auto">
    <h1 class="mt-2 text-center tracking-tight">
      Setting up Backblaze B2
    </h1>

    <h2 class="my-8">Configuring bucket</h2>

    <p class="mt-8">Make sure you enable <a href="https://www.backblaze.com/b2/docs/server_side_encryption.html" target="_blank" rel="noopener" class="underline">encryption</a> and set file visibility to private.</p>

    <p class="mt-8">For data integrity, consider adding <a href="https://help.backblaze.com/hc/en-us/articles/360052973274-Object-Lock-FAQs" target="_blank" rel="noopener" class="underline">object lock</a> on files in your bucket, but be wary of implications - locked objects can't be deleted until after they expire.</p>

    <h2 class="my-8">Generating application key</h2>

    <p class="mt-8">Once you have created your bucket, head over to the App Keys page, and generate a new application key. Make sure to give it the least amount of permissions needed, namely:</p>

    <ul class="mt-8 text-xl text-gray-700 leading-8">
      <li>Restrict access to a newly-created bucket only</li>
      <li>Do not allow <em>List Buckets</em> permission</li>
    </ul>

    <p class="mt-8">If you need help setting up your AWS account or with anything else, feel free to <a href="mailto:support@notionbackups.com" class="underline">reach out</a>.</p>
  </div>
</article>
