---
title: Back up your Notion workspaces to Backblaze B2
description: Learn how to back up your Notion workspace to Backblaze B2 and properly configure your bucket for secure storage of your backups.
---

<% content_for :head do %>
  <script type="application/ld+json">
  {
    "@context": "https://schema.org/",
    "@type": "TechArticle",
    "headline": "<%= @item[:title] %>",
    "datePublished": "2023-03-08",
    "dateModified": "2023-03-12",
    "dependencies": "Backblaze",
    "description": "<%= @item[:description] %>",
    "inLanguage": "en-US",
    "image": {
      "@type": "ImageObject",
      "url": "https://notionbackups.com/assets/images/banner.png"
    },
    "copyrightHolder": {
      "@type": "Organization",
      "name": "Notion Backups"
    },
    "publisher": {
      "@type": "Organization",
      "name": "Notion Backups"
    }
  }
  </script>
<% end %>

<article class="px-4 mt-24 mb-12 sm:px-6 lg:px-8">
  <div class="max-w-prose mx-auto">
    <h1 class="mt-2 text-center">
      Setting up Backblaze B2
    </h1>

    <h2 class="my-8">Configuring bucket</h2>

    <p class="mt-8">To better protect your backups, set file visibility to private and enable <a href="https://www.backblaze.com/b2/docs/server_side_encryption.html" target="_blank" rel="noopener" class="underline">encryption</a> on your bucket.</p>

    <p class="mt-8">For data integrity, consider adding <a href="https://help.backblaze.com/hc/en-us/articles/360052973274-Object-Lock-FAQs" target="_blank" rel="noopener" class="underline">object lock</a> on files in your bucket, but be wary of implications - locked objects can't be deleted until after they expire.</p>

    <h2 class="my-8">Generating application key</h2>

    <p class="mt-8">Once you have created your bucket, head over to the App Keys page and generate a new application key. Give it the least amount of permissions needed, namely:</p>

    <ul class="mt-8 text-xl text-gray-700 leading-8">
      <li>Restrict access to a single bucket only</li>
      <li>Do not allow <em>List Buckets</em> permission</li>
    </ul>

    <h2 class="my-8">Prefix</h2>

    <p class="mt-8">You can choose to organize your backups in a folder by specifying the prefix in the dashboard.</p>

    <h2 class="my-8" id="s3-compatible">S3-compatible object storage</h2>

    <p class="mt-8">You can use the BackblazeB2 interface to store your backups in S3-compatible object storage providers, such as <a href="https://min.io/" target="_blank" rel="noopener" class="underline">MinIO</a> and others.</p>

    <p class="mt-8">Enter your Access Key into the "Key ID" field and the Secret Access Key into the "Application key".</p>

    <p class="mt-8">If you need help setting up your Backblaze B2 account or with anything else, feel free to <a href="mailto:support@notionbackups.com" class="underline">reach out</a>.</p>
  </div>
</article>
