---
title: Backups
description: Automatically back up your Notion pages, databases, media files, and comments to the cloud storage provider of your choice. You can choose how often your workspace should be backed up and when to delete old backups.
---

<% content_for :head do %>
  <script type="application/ld+json">
  {
    "@context": "https://schema.org/",
    "@type": "TechArticle",
    "headline": "<%= @item[:title] %>",
    "datePublished": "2022-11-02",
    "dateModified": "2023-09-06",
    "description": "<%= @item[:description] %>",
    "inLanguage": "en-US",
    "image": {
      "@type": "ImageObject",
      "url": "https://notionbackups.com/assets/images/banner.png"
    },
    "copyrightHolder": {
      "@type": "Organization",
      "name": "Notion Backups"
    },
    "publisher": {
      "@type": "Organization",
      "name": "Notion Backups"
    }
  }
  </script>
<% end %>

<article class="px-4 mt-24 mb-12 sm:px-6 lg:px-8">
<div class="max-w-prose mx-auto">

  <h1 class="mt-2 text-center">
    Backups
  </h1>

  <h2 class="my-8" id="schedule">Schedule</h2>

  <p class="mt-8">Your first backup should start soon after you connect your Notion workspace and at least one cloud storage provider. You can also trigger the backup manually from the workspace settings.</p>

  <p class="mt-8">By default, your workspace is backed up weekly, but you can choose daily or monthly options in the workspace settings. For example, if a backup finishes on January 1st with the weekly setting, expect the next one on January 8th.</p>

  <p class="mt-8">Backup completion typically takes a few hours, but large workspaces may require several days. Occasionally, Notion or cloud storage services may experience issues, which could delay the backup completion. If the backup file doesn't appear in your cloud storage within 3 days, please <a href="mailto:support@notionbackups.com" class="underline">reach out</a>.</p>

  <h2 class="my-8" id="top-level-pages">Top-level pages</h2>

  <p class="mt-8">Notion Backups only backs up data (pages, databases, and blocks) you have explicitly authorized while connecting your Notion workspace. Top-level pages, whether private or public, created after authorization won't be accessible, whereas sub-pages will.</p>

  <p class="mt-8">You can manage which top-level pages Notion Backups has access to by reauthorizing in your workspace settings (it's a good idea to do it somewhat regularly).</p>

  <img src="/assets/images/reauthorize-notion-workspace.png" alt="Button to reauthorize your Notion workspace from the workspace settings" class="shadow-lg rounded-lg my-8 mx-auto w-4/5 border border-gray-200" loading="lazy">

  <p class="mt-8">You can also choose which pages Notion Backups has access to from your Notion workspace settings (Settings & members > My connections > click on the Notion Backups menu > Access selected pages).</p>

  <h2 class="my-8" id="media-files">Media files</h2>

  <p class="mt-8">By default, media files uploaded directly to Notion (including images, audio, video, and PDF files) will be backed up. This also includes custom covers/icons and attachments in properties. This can significantly increase your backup size.</p>

  <p class="mt-8">For <em>externally-hosted</em> media files, only URLs will be included in your backups, not the files themselves.</p>

  <p class="mt-8">You can disable the backing up of media files in your workspace settings.</p>

  <h2 class="my-8">Comments</h2>

  <p class="mt-8">If you connected your Notion workspace before <time datetime="2022-10-30">October 30th, 2022</time>, comments will not be backed up unless you have reauthorized your workspace after that date.</p>

  <p class="mt-8">Note that due to Notion API's limitations, only unresolved comments will be backed up.</p>

  <h2 class="my-8">Auto-delete</h2>

  <p class="mt-8">To preserve cloud storage space, you can choose to automatically delete backups older than 2, 4, or 8 weeks.</p>

  <h2 class="my-8">Compression</h2>

  <p class="mt-8">Backups are compressed and archived in the zip file to reduce bandwidth and storage costs.</p>

  <p class="mt-8">Zip files are widely supported by most operating systems. If you have trouble unzipping files on Windows, try <a href="https://7-zip.org" class="underline" target="_blank" rel="noopener">7zip</a>.</p>

  <p class="mt-8">If you have questions about anything, feel free to <a href="mailto:support@notionbackups.com" class="underline">reach out</a>.</p>

</div>
</article>
