---
title: Backups
description: Explaining which Notion workspace data (pages, databases, blocks, media files and comments) gets backed up and how often.
---

<% content_for :head do %>
  <script type="application/ld+json">
  {
    "@context": "https://schema.org/",
    "@type": "TechArticle",
    "headline": "<%= @item[:title] %>",
    "datePublished": "2022-11-02",
    "dateModified": "2023-05-17",
    "description": "<%= @item[:description] %>",
    "inLanguage": "en-US",
    "image": {
      "@type": "ImageObject",
      "url": "https://notionbackups.com/assets/images/banner.png"
    },
    "copyrightHolder": {
      "@type": "Organization",
      "name": "Notion Backups"
    },
    "publisher": {
      "@type": "Organization",
      "name": "Notion Backups"
    }
  }
  </script>
<% end %>

<article class="px-4 mt-24 mb-12 sm:px-6 lg:px-8">
<div class="max-w-prose mx-auto">

  <h1 class="mt-2 text-center">
    Backups
  </h1>

  <h2 class="my-8">Schedule</h2>

  <p class="mt-8">Your first backup should start soon after you add your Notion workspace and at least one cloud storage provider. If the backup file doesn't appear in your cloud storage within 24 hours, please <a href="mailto:support@notionbackups.com" class="underline">reach out</a>.</p>

  <p class="mt-8">By default, your workspace is backed up weekly, but you can choose daily or monthly backups in the workspace settings.</p>

  <h2 class="my-8" id="top-level-pages">Top-level pages</h2>

  <p class="mt-8">Notion Backups only backs up data (pages, databases, and blocks) you have explicitly authorized while connecting your Notion workspace. Top-level pages - private or public - created after authorization won't be accessible, whereas sub-pages will.</p>

  <p class="mt-8">You can manage which top-level pages Notion Backups has access to by reauthorizing in your workspace settings (it's a good idea to do it somewhat regularly).</p>

  <h2 class="my-8">Media files</h2>

  <p class="mt-8">By default, media files uploaded directly to Notion (including images, audio, video, and PDF files) will be backed up. This also includes custom covers/icons and attachments in properties. This can significantly increase your backup size.</p>

  <p class="mt-8">For <em>externally-hosted</em> media files, only URLs will be included in your backups, not the files themselves.</p>

  <p class="mt-8">You can disable the backing up of media files in your workspace settings.</p>

  <h2 class="my-8">Comments</h2>

  <p class="mt-8">If you connected your Notion workspace before <time datetime="2022-10-30">October 30th, 2022</time>, comments will not be backed up unless you have reauthorized your workspace after that date.</p>

  <h2 class="my-8">Auto-delete</h2>

  <p class="mt-8">To preserve cloud storage space, you can choose to automatically delete backups older than 2, 4, or 8 weeks.</p>

  <h2 class="my-8">Compression</h2>

  <p class="mt-8">Backups are compressed and archived in the zip file to reduce bandwidth and storage costs.</p>

  <p class="mt-8">Zip files are widely supported by most operating systems. If you have trouble unzipping files on Windows, try <a href="https://7-zip.org" class="underline" target="_blank" rel="noopener">7zip</a>.</p>

  <p class="mt-8">If you have questions about anything, feel free to <a href="mailto:support@notionbackups.com" class="underline">reach out</a>.</p>

</div>
</article>
