---
title: Back up your Notion workspaces to Google Drive
description: Learn how you can back up Notion workspaces to your Google Drive account
---

<% content_for :head do %>
  <script type="application/ld+json">
  {
    "@context": "https://schema.org/",
    "@type": "TechArticle",
    "headline": "<%= @item[:title] %>",
    "datePublished": "2023-03-03",
    "dateModified": "2023-04-30",
    "dependencies": "Google Drive",
    "description": "<%= @item[:description] %>",
    "inLanguage": "en-US",
    "image": {
      "@type": "ImageObject",
      "url": "https://notionbackups.com/assets/images/banner.png"
    },
    "copyrightHolder": {
      "@type": "Organization",
      "name": "Notion Backups"
    },
    "publisher": {
      "@type": "Organization",
      "name": "Notion Backups"
    }
  }
  </script>
<% end %>

<article class="px-4 mt-24 mb-12 sm:px-6 lg:px-8">
  <div class="max-w-prose mx-auto">
    <h1 class="mt-2 text-center">
      Google Drive
    </h1>

    <h2 class="my-8">Backup folder</h2>

    <p class="mt-8">By default, your backups will be stored in a top-level folder called "Notion Backups". You can safely rename and move this folder elsewhere.</p>

    <p class="mt-8">If you delete this folder, a new one will be created to replace it.</p>

    <p class="mt-8">However, renaming individual backup files may prevent you from restoring your workspace from them.</p>

    <h2 class="my-8">Security</h2>

    <p class="mt-8">The Google Drive integration can only access the folders and files it has created.</p>

    <p class="mt-8">If you disconnect your Google Drive account from the dashboard, Notion Backups won't be able to access your account anymore (you can always reauthorize later). You can also revoke access from <a href="https://myaccount.google.com/permissions?continue=https://myaccount.google.com/security" target="_blank" rel="noopener">your Google account</a>.</p>

    <p class="my-8">Deleting your Notion Backups account will also revoke our access to your Google Drive account.</p>

    <p class="mt-8">If you have questions about Google Drive integration or anything else, feel free to <a href="mailto:support@notionbackups.com" class="underline">reach out</a>.</p>
  </div>
</article>
