---
title: Back up your Notion workspaces to OneDrive
description: Learn how you can back up Notion workspaces to your personal Microsoft OneDrive account.
---

<% content_for :head do %>
  <script type="application/ld+json">
  {
    "@context": "https://schema.org/",
    "@type": "TechArticle",
    "headline": "<%= @item[:title] %>",
    "datePublished": "2023-10-10",
    "dateModified": "2023-10-25",
    "dependencies": "Microsoft OneDrive",
    "description": "<%= @item[:description] %>",
    "inLanguage": "en-US",
    "image": {
      "@type": "ImageObject",
      "url": "https://notionbackups.com/assets/images/banner.png"
    },
    "copyrightHolder": {
      "@type": "Organization",
      "name": "Notion Backups"
    },
    "publisher": {
      "@type": "Organization",
      "name": "Notion Backups"
    }
  }
  </script>
<% end %>

<article class="px-4 mt-24 mb-12 sm:px-6 lg:px-8">
  <div class="max-w-prose mx-auto">
    <h1 class="mt-2 text-center">
      Microsoft OneDrive
    </h1>

    <p class="mt-8">Currently, only Personal OneDrive accounts are supported.</p>

    <h2 class="my-8">Backup folder</h2>

    <p class="mt-8">By default, your backups will be stored in a folder called "Apps/Notion Backups".</p>

    <h2 class="my-8">Security</h2>

    <p class="mt-8">OneDrive integration doesn't have access to any other folders or files in your account except the contents of the "Apps/Notion Backups" folder.</p>

    <p class="mt-8">You can revoke access from <a href="https://account.live.com/consent/Manage" class="underline" target="_blank" rel="noopener">your Microsoft account</a>.</p>

    <p class="mt-8">If you have questions about OneDrive integration or anything else, feel free to <a href="/support.html" class="underline">reach out</a>.</p>
  </div>
</article>
