---
title: Restore your Notion workspace
description: Learn how you can restore a Notion workspace from one of your backups and understand which limitations apply.
---

<% content_for :head do %>
  <script type="application/ld+json">
  {
    "@context": "https://schema.org/",
    "@type": "TechArticle",
    "headline": "<%= @item[:title] %>",
    "datePublished": "2022-11-02",
    "dateModified": "2024-09-01",
    "description": "<%= @item[:description] %>",
    "inLanguage": "en-US",
    "image": {
      "@type": "ImageObject",
      "url": "https://notionbackups.com/assets/images/banner.png"
    },
    "copyrightHolder": {
      "@type": "Organization",
      "name": "Notion Backups"
    },
    "publisher": {
      "@type": "Organization",
      "name": "Notion Backups"
    }
  }
  </script>
<% end %>

<article class="px-4 mt-24 mb-12 sm:px-6 lg:px-8">
<div class="max-w-prose mx-auto">

  <h1 class="mt-2 text-center">
    Restoring your Notion workspace
  </h1>

  <p class="mt-8">Before you can restore your workspace, it needs to be backed up at least once. To make sure that the restore process goes as smoothly as possible, <a href="/docs/backups.html#top-level-pages" class="underline" target="_blank" rel="noopener">reauthorize your workspace</a> from the workspace settings and include all the pages you want to back up.</p>

  <p class="mt-8">If you're on the Starter plan, you can only restore your workspace under the same workspace. You will need to create an empty page called "Notion Backups Restore" and grant Notion Backups access to it. Your existing workspace data will not be overwritten.</p>

  <p class="mt-8">If you're on the Pro plan, you can also restore your data to another workspace.</p>

  <h2 class="my-8">Limitations</h2>

  <p class="mt-8">There are some limitations imposed by Notion's API, which make a complete restore impossible at this moment. Some of the current limitations are:</p>

  <ul class="text-xl text-gray-700 leading-8 m-4">
    <li class="p-1">Top-level pages can only be nested under another page</li>
    <li class="p-1">Not all block types are supported</li>
    <li class="p-1">Property types such as Rollup, Created by, Created time, Last edited by, or Last edited time can't be restored accurately</li>
    <li class="p-1"><a href="/docs/backups.html#media-files" target="_blank" class="underline">Media files</a> can't be uploaded</li>
    <li class="p-1">Database views don't get restored</li>
    <li class="p-1">Embed blocks don't render fully</li>
    <li class="p-1">The order of blocks might not always be preserved</li>
    <li class="p-1">Only <a href="/docs/backups.html#comments" target="_blank" class="underline">unresolved comments</a> are restored</li>
    <li class="p-1">Comments will carry the integration's name and won't have accurate timestamps</li>
    <li class="p-1">Blocks with large text content (e.g. code, paragraphs, list items) will be split into smaller chunks</li>
  </ul>

  <p class="mt-8">If you're restoring to a different workspace, additional limitations may apply:</p>

  <ul class="text-xl text-gray-700 leading-8 m-4">
    <li class="p-1">Synced blocks can't be restored</li>
  </ul>

</div>
</article>
