---
title: Restore your Notion workspace
description: Learn how you can restore a Notion workspace from one of your backups
---

<% content_for :head do %>
  <script type="application/ld+json">
  {
    "@context": "https://schema.org/",
    "@type": "TechArticle",
    "headline": "<%= @item[:title] %>",
    "datePublished": "2022-11-02",
    "dateModified": "2023-08-11",
    "description": "<%= @item[:description] %>",
    "inLanguage": "en-US",
    "image": {
      "@type": "ImageObject",
      "url": "https://notionbackups.com/assets/images/banner.png"
    },
    "copyrightHolder": {
      "@type": "Organization",
      "name": "Notion Backups"
    },
    "publisher": {
      "@type": "Organization",
      "name": "Notion Backups"
    }
  }
  </script>
<% end %>

<article class="px-4 mt-24 mb-12 sm:px-6 lg:px-8">
<div class="max-w-prose mx-auto">

  <h1 class="mt-2 text-center">
    Restoring your Notion workspace
  </h1>

  <p class="mt-8">Before you can restore your workspace, it needs to be backed up at least once. To make sure that the restore process goes as smoothly as possible, <a href="/docs/backups.html#top-level-pages" class="underline" target="_blank" rel="noopener">reauthorize your workspace</a> from the workspace settings and include all the pages you want to back up.</p>

  <h2 class="my-8">Limitations</h2>

  <p class="mt-8">There are some limitations placed by Notion's API, which makes a complete restore impossible at this moment. Some of the current limitations:</p>

  <ul class="text-xl text-gray-700 leading-8 m-4">
    <li class="p-1">Creation of top-level pages (pages will be nested under another page)</li>
    <li class="p-1">File uploads (but they're backed up)</li>
    <li class="p-1">Some block types</li>
    <li class="p-1">Some property types, namely Rollup, Created by, Created time, Last edited by, or Last edited time</li>
    <li class="p-1">Database views</li>
    <li class="p-1">Embed blocks don't render fully</li>
  </ul>

</div>
</article>
