  <div class="mt-8 bg-green-light p-8 lg:p-12 rounded-lg">
    <p class="mb-8 text-gray-700 text-center font-semibold">Back up your Notion workspaces today</p>
    <a href="https://app.notionbackups.com/signup/new" class="w-full md:w-1/2 mx-auto flex items-center justify-center px-8 py-3 border border-transparent text-base font-medium rounded-md text-gray-800 bg-white hover:bg-gray-100 md:py-4 md:text-lg md:px-10 hover:shadow-button hover:ring-1 hover:ring-gray-500 duration-300">
      Get started
    </a>
  </div>
