<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <title><%= @item[:title] %> - Notion Backups</title>
  <meta name="description" content="<%= @item[:description] %>">
  <link rel="canonical" href="https://notionbackups.com<%= create_canonical_path(@item[:filename]) %>">

  <link rel="stylesheet" href="/assets/stylesheets/tailwind.css">

  <script data-goatcounter="https://notionbackups.goatcounter.com/count" src="/assets/javascripts/gc.js" async></script>

  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-title" content="Notion Backups">
  <meta name="apple-mobile-web-app-status-bar-style" content="white">

  <script type="application/ld+json">
  {
    "@context": "https://schema.org/",
    "@type": "Organization",
    "name": "Notion Backups",
    "url": "https://notionbackups.com",
    "brand": {
      "@type": "Brand",
      "name": "Notion Backups"
    },
    "sameAs": [
      "https://twitter.com/notionbackups",
      "https://github.com/notionbackups"
    ],
    "contactPoint" : [{
      "@type" : "ContactPoint",
      "contactType" : "customer support",
      "email": "support@notionbackups.com"
    }]
  }
  </script>
</head>
<body>

  <div class="pt-6 pb-6">
    <div class="max-w-7xl mx-auto px-4 sm:px-6">
      <nav class="relative flex items-center justify-between sm:h-10 md:justify-center" aria-label="Global">
        <div class="flex items-center flex-1 md:absolute md:inset-y-0 md:left-0">
          <div class="flex items-center justify-between w-full md:w-auto">
            <a href="/" class="text-2xl font-extrabold hover:text-gray-900">Notion Backups</a>
          </div>
        </div>
        <div class="hidden md:flex md:space-x-10">

          <a href="/#features" class="font-medium text-gray-500 hover:text-gray-900">Features</a>

          <a href="/#pricing" class="font-medium text-gray-500 hover:text-gray-900">Pricing</a>
        </div>
        <div class="hidden md:absolute md:flex md:items-center md:justify-end md:inset-y-0 md:right-0">
          <span class="inline-block rounded-md shadow ml-2">
            <a href="https://app.notionbackups.com/login/new" class="inline-flex items-center px-4 py-2 border border-transparent text-base font-medium rounded-md text-gray-600 bg-white hover:bg-gray-50">
              Log in
            </a>
          </span>
          <span class="inline-block rounded-md shadow ml-2">
            <a href="https://app.notionbackups.com/signup/new" class="inline-flex items-center px-4 py-2 border border-transparent text-base font-medium rounded-md text-white bg-gray-800 hover:text-white hover:bg-gray-900">
              Start free trial
            </a>
          </span>
        </div>
      </nav>
    </div>

    <!--
      Mobile menu, show/hide based on menu open state.

      Entering: "duration-150 ease-out"
        From: "opacity-0 scale-95"
        To: "opacity-100 scale-100"
      Leaving: "duration-100 ease-in"
        From: "opacity-100 scale-100"
        To: "opacity-0 scale-95"
    -->
    <div class="js-nav-menu absolute top-0 inset-x-0 p-2 transition transform origin-top-right hidden">
      <div class="rounded-lg shadow-md bg-white ring-1 ring-black ring-opacity-5 overflow-hidden">
        <div class="px-2 pt-2 pb-3">
          <a href="#" class="block px-3 py-2 rounded-md text-base font-medium text-gray-700 hover:text-gray-900 hover:bg-gray-50">Features</a>

          <a href="#" class="block px-3 py-2 rounded-md text-base font-medium text-gray-700 hover:text-gray-900 hover:bg-gray-50">Pricing</a>
        </div>
        <a href="https://app.notionbackups.com/signup/new" class="block w-full px-5 py-3 text-center font-medium text-white bg-gray-800 hover:text-white hover:bg-gray-900">
          Start free trial
        </a>
        <a href="https://app.notionbackups.com/login/new" class="block w-full px-5 py-3 text-center font-medium text-gray-600 bg-gray-50 hover:bg-gray-100">
          Log in
        </a>
      </div>
    </div>
  </div>

  <main><%= content_for(@item, :main) || yield %></main>

  <footer class="bg-gray-50" aria-labelledby="footer-heading">
    <h2 id="footer-heading" class="sr-only">Footer</h2>
      <div class="border-t border-gray-200 pt-8">
        <div class="mx-auto flex flex-wrap justify-center">
          <a href="/blog/automated-notion-backup-api.html" class="p-4">Blog</a>
          <a href="/privacy.html" class="p-4">Privacy</a>
          <a href="/terms.html" class="p-4 hidden">Terms</a>
        </div>

        <p class="text-base text-gray-400 text-center mb-4">
          &copy; 2021 Forty Two Technologies, Inc.
        </p>

        <p class="text-base text-gray-400 text-center pb-8">
          Built and run by <a href="https://twitter.com/jmstfv">@jmstfv</a>
        </p>
      </div>
  </footer>
</body>
</html>
