<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <title><%= @item[:title] %> - Notion Backups</title>
  <meta name="description" content="<%= @item[:description] %>">
  <link rel="canonical" href="https://notionbackups.com<%= create_canonical_path(@item[:filename]) %>">

  <link rel="stylesheet" href="/assets/stylesheets/tailwind.css">

  <script data-goatcounter="https://gc.notionbackups.com/count" async src="//gc.notionbackups.com/count.js"></script>

  <link rel="alternate" type="application/atom+xml" href="https://notionbackups.com/guides/feed.xml">

  <link rel="icon" type="image/png" sizes="32x32" href="/assets/images/favicon.png">
  <link rel="apple-touch-icon" sizes="180x180" href="/assets/images/apple-touch-icon.png">

  <meta property="og:title" content="<%= @item[:title] %> - Notion Backups">
  <meta property="og:description" content="<%= @item[:description] %>">
  <meta property="og:image" content="<%= set_image(@item[:image]) %>">
  <meta property="og:type" content="website">

  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:site" content="@notionbackups">
  <meta name="twitter:creator" content="@jmstfv">
  <meta name="twitter:title" content="<%= @item[:title] %> - Notion Backups">
  <meta name="twitter:description" content="<%= @item[:description] %>">
  <meta name="twitter:image" content="<%= set_image(@item[:image]) %>">

  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-title" content="Notion Backups">

  <script type="application/ld+json">
  {
    "@context": "https://schema.org/",
    "@type": "OnlineBusiness",
    "name": "Notion Backups",
    "legalName": "Forty Two Technologies, Inc.",
    "url": "https://notionbackups.com",
    "logo": "https://notionbackups.com/assets/images/apple-touch-icon.png",
    "brand": {
      "@type": "Brand",
      "name": "Notion Backups"
    },
    "sameAs": [
      "https://twitter.com/notionbackups",
      "https://github.com/notionbackups"
    ],
    "contactPoint" : [{
      "@type": "ContactPoint",
      "contactType": "customer support",
      "email": "support@notionbackups.com"
    }]
  }
  </script>

  <%= content_for(@item, :head) %>
</head>
<body>

  <div class="pt-6 pb-6 bg-gray-900">
    <div class="max-w-7xl mx-auto px-4 sm:px-6">
      <div class="relative flex items-center justify-between sm:h-10 md:justify-center" aria-label="Global">
        <div class="flex items-center flex-1 md:absolute md:inset-y-0 md:left-0">
          <div class="flex items-center justify-between w-full md:w-auto">
            <a href="/" class="text-xl md:text-2xl font-extrabold text-white hover:text-gray-300">Notion Backups</a>
          </div>
        </div>
        <div class="absolute flex items-center justify-end inset-y-0 right-0">
          <span class="inline-block rounded-md shadow ml-2">
            <a href="https://app.notionbackups.com/login/new" class="text-white hover:text-gray-300 mr-2">
              Log in
            </a>
          </span>
          <span class="inline-block rounded-md shadow ml-2">
            <a href="https://app.notionbackups.com/signup/new" class="button">
              Sign up
            </a>
          </span>
        </div>
      </div>
    </div>
  </div>

  <main><%= content_for(@item, :main) || yield %></main>

  <footer class="bg-gray-900 border-t border-white" aria-labelledby="footer-heading">
    <h2 id="footer-heading" class="sr-only">Footer</h2>
    <div class="mx-auto max-w-7xl px-6 pb-8 pt-14">
      <div class="xl:grid xl:grid-cols-3 xl:gap-8">
        <div class="md:grid md:grid-cols-3 md:gap-8 xl:col-span-3 justify-items-center">
          <div>
            <h3 class="text-base font-bold leading-6 text-white">Guides</h3>
            <ul role="list" class="mt-6 space-y-4 list-outside list-none">
              <li>
                <a href="/recover-lost-notion-data.html" class="leading-6 text-gray-400 hover:text-white">Recovering Lost Notion Data</a>
              </li>
              <li>
                <a href="/guides/automated-notion-backup-api.html" class="leading-6 text-gray-400 hover:text-white">Automating Backups with Notion's API</a>
              </li>
              <li>
                <a href="/guides/notion-pages-privacy.html" class="leading-6 text-gray-400 hover:text-white">Are Notion Pages Private by Default?</a>
              </li>
              <li>
                <a href="/guides/essential-notion-keyboard-shortcuts.html" target="_blank" rel="noopener" class="leading-6 text-gray-400 hover:text-white">Essential Notion Keyboard Shortcuts</a>
              </li>
            </ul>
          </div>

          <div class="mt-10 md:mt-0">
            <h3 class="text-base font-bold leading-6 text-white">Help</h3>
            <ul role="list" class="mt-6 space-y-4 list-outside list-none">
              <li>
                <a href="mailto:support@notionbackups.com" class="leading-6 text-gray-400 hover:text-white">Support</a>
              </li>
              <li>
                <a href="/docs/" class="leading-6 text-gray-400 hover:text-white">Knowledge Base</a>
              </li>
              <li>
                <a href="/security.html" class="leading-6 text-gray-400 hover:text-white">Security</a>
              </li>
              <li>
                <a href="https://status.notionbackups.com" class="leading-6 text-gray-400 hover:text-white" target="_blank" rel="noopener">System Status</a>
              </li>
            </ul>
          </div>

          <div class="mt-10 md:mt-0">
            <h3 class="text-base font-bold leading-6 text-white">Legal</h3>
            <ul role="list" class="mt-6 space-y-4 list-outside list-none">
              <li>
                <a href="/privacy.html" class="leading-6 text-gray-400 hover:text-white">Privacy Policy</a>
              </li>
              <li>
                <a href="/terms.html" class="leading-6 text-gray-400 hover:text-white">Terms of Service</a>
              </li>
              <li>
                <a href="/gdpr.html" class="leading-6 text-gray-400 hover:text-white">GDPR</a>
              </li>
            </ul>
          </div>
        </div>
      </div>

      <div class="mt-10 border-t border-white/10 pt-4 text-center sm:mt-16">
        <p class="mt-4 text-sm leading-5 text-gray-400">&copy; 2023 Forty Two Technologies, Inc.</p>
        <p class="mt-4 text-sm leading-5 text-gray-400">Built and run by <a href="https://twitter.com/jmstfv" class="text-white hover:text-gray-300" target="_blank" rel="noopener">@jmstfv</a></p>
      </div>
    </div>
  </footer>
</body>
</html>
