---
title: Notion Guides
description: Guides covering a wide range of topics related to Notion.so, such as backups, recovering lost data, the Notion API, page privacy, and more.
---

<div class="bg-white py-24 sm:py-32">
  <div class="mx-auto max-w-7xl px-6 lg:px-8">
    <div class="mx-auto max-w-2xl lg:max-w-4xl">
      <h1 class="text-center">Notion Guides</h1>
      <div class="mt-16 space-y-20 lg:mt-20 lg:space-y-20">

        <article class="relative isolate flex flex-col gap-8 lg:flex-row">
          <div class="relative aspect-[16/9] sm:aspect-[2/1] lg:aspect-square lg:w-64 lg:shrink-0">
            <img src="/assets/images/neoclassical-archival-room.png" alt="" class="absolute inset-0 h-full w-full rounded-2xl bg-gray-50 object-cover" loading="lazy">
            <div class="absolute inset-0 rounded-2xl ring-1 ring-inset ring-gray-900/10"></div>
          </div>
          <div>
            <div class="group relative max-w-xl">
              <h2 class="mt-3 text-xl leading-6 group-hover:text-gray-600">
                <a href="/recover-lost-notion-data.html">
                  <span class="absolute inset-0"></span>
                  Recovering Lost Notion Data
                </a>
              </h2>
              <p class="mt-5 text-sm leading-6 text-gray-600">Data loss is terrible: it could be a single page, a database, or your entire workspace that has gone missing. While Notion does keep backups of your data, in rare instances data might go missing. This guide will provide you with a variety of solutions to recover your lost data.</p>
            </div>
          </div>
        </article>

        <article class="relative isolate flex flex-col gap-8 lg:flex-row">
          <div class="relative aspect-[16/9] sm:aspect-[2/1] lg:aspect-square lg:w-64 lg:shrink-0">
            <img src="/assets/images/printing-press-papers.png" alt="" class="absolute inset-0 h-full w-full rounded-2xl bg-gray-50 object-cover" loading="lazy">
            <div class="absolute inset-0 rounded-2xl ring-1 ring-inset ring-gray-900/10"></div>
          </div>
          <div>
            <div class="group relative max-w-xl">
              <h2 class="mt-3 text-xl leading-6 group-hover:text-gray-600">
                <a href="/guides/automated-notion-backup-api.html">
                  <span class="absolute inset-0"></span>
                  Automating Backups with Notion's API
                </a>
              </h2>
              <p class="mt-5 text-sm leading-6 text-gray-600">Backing up your data on a consistent schedule is like buying insurance: you think you don't need it until you need it. With Notion becoming a second brain and knowledge management for many folks and organizations alike, it's paramount to have consistent backups if things go south.</p>
            </div>
          </div>
        </article>

        <article class="relative isolate flex flex-col gap-8 lg:flex-row">
          <div class="relative aspect-[16/9] sm:aspect-[2/1] lg:aspect-square lg:w-64 lg:shrink-0">
            <img src="/assets/images/typewriter-large-windows.png" alt="" class="absolute inset-0 h-full w-full rounded-2xl bg-gray-50 object-cover" loading="lazy">
            <div class="absolute inset-0 rounded-2xl ring-1 ring-inset ring-gray-900/10"></div>
          </div>
          <div>
            <div class="group relative max-w-xl">
              <h2 class="mt-3 text-xl leading-6 group-hover:text-gray-600">
                <a href="/guides/notion-keyboard-shortcuts.html">
                  <span class="absolute inset-0"></span>
                  Essential Notion Keyboard Shortcuts for Faster Workflow
                </a>
              </h2>
              <p class="mt-5 text-sm leading-6 text-gray-600">Keyboard shortcuts that will streamline your Notion workflow and make you more productive.</p>
            </div>
          </div>
        </article>

        <article class="relative isolate flex flex-col gap-8 lg:flex-row">
          <div class="relative aspect-[16/9] sm:aspect-[2/1] lg:aspect-square lg:w-64 lg:shrink-0">
            <img src="/assets/images/magnifying-glass-manuscript.png" alt="" class="absolute inset-0 h-full w-full rounded-2xl bg-gray-50 object-cover" loading="lazy">
            <div class="absolute inset-0 rounded-2xl ring-1 ring-inset ring-gray-900/10"></div>
          </div>
          <div>
            <div class="group relative max-w-xl">
              <h2 class="mt-3 text-xl leading-6 group-hover:text-gray-600">
                <a href="/guides/notion-pages-privacy.html">
                  <span class="absolute inset-0"></span>
                  Are Notion pages private by default?
                </a>
              </h2>
              <p class="mt-5 text-sm leading-6 text-gray-600">One common question among Notion users, especially those who are just getting started, is about the privacy settings of Notion pages.</p>
            </div>
          </div>
        </article>

      </div>
    </div>
  </div>
</div>
