---
title: Notion Offline Mode
description: Learn about the upcoming Notion offline mode and how it will affect your workflow.
image: https://notionbackups.com/assets/images/papers.png
kind: article
created_at: 2025-03-20
updated_at: 2025-03-21
---

<article class="px-4 mt-24 mb-12 sm:px-6 lg:px-8">
<div class="max-w-prose mx-auto">
  <h1 class="mt-2 text-center">
    Notion Offline Mode
  </h1>

<p class="mt-6 text-base text-gray-600 text-center">Updated: <time datetime="<%= item[:updated_at] %>"><%= item[:updated_at].strftime("%B %-d, %Y") %></time></p>

<p class="mt-8">Notion, after a long wait, is set to introduce an offline mode, which has been highly anticipated by users. This feature will allow you to work on your pages without an internet connection.</p>

<h2 class="my-8">What we know so far</h2>

<p class="mt-8 mb-8">Based on recent announcements by Notion's founder, Ivan Zhao, the offline mode will initially support per-page access with a toggle, meaning you can choose which pages are available offline without needing to pre-open them online first.

<blockquote class="twitter-tweet"><p lang="en" dir="ltr">Testing offline ☺️ <a href="https://t.co/QFkxujBCKm">pic.twitter.com/QFkxujBCKm</a></p>&mdash; Ivan Zhao (@ivanhzhao) <a href="https://twitter.com/ivanhzhao/status/1901672634687033442?ref_src=twsrc%5Etfw">March 17, 2025</a></blockquote> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>

<p class="mt-8">It's expected to be available on both mobile and desktop apps, with further improvements planned throughout 2025. The announcement is anticipated in the next few weeks, likely around April 7-10, 2025.</p>

<p class="mt-8">While offline mode will help with slow page loading, it might not fully address issues like laggy scrolling in large databases, and there could be challenges like update conflicts when syncing back online.</p>

<p class="mt-8">Storage space is another concern, especially on mobile devices, where filling up limited storage (e.g., 32GB iPhones) could be an issue (that could be the reason for the per-page toggle).</p>

<h2 class="my-8">How it differs from the existing "Offline" mode</h2>

<p class="mt-8">Notion currently lets you edit pages offline, but you must open them while still online. With the new offline mode, you can allegedly open and edit pages entirely offline.</p>

<img src="/assets/images/notion-offline-label.png" alt="Offline label in Notion" class="shadow-lg rounded-lg my-8 mx-auto w-3/5 md:w-2/5 border border-gray-200" loading="lazy">


<h2 class="my-8">Importance of Backups</h2>

<p class="mt-8">While offline mode is a great step forward, it doesn't protect against data loss from device failures, accidental deletions, or other issues. This is why you should always have a backup of your data.</p>

<%= render '/_cta.html' %>

</div>
</article>
